payments-cards{
.card-title {
    top: 36%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: white;
    background-image: url('../assets/imgs/header.png');
    background-size: cover;
  }

.card-body{
}  
}